.slideshow-button {
  inline-size: 36px;
  grid-column: 2;
  grid-row: 1;
  block-size: 36px;
  margin-block-start: 1rem;
}

.slideshow-dialog {
  max-width: 100%;
  max-height: 100%;
}

.slideshow-dialog[open] {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 12px;
}

.slideshow-close-button {
  inline-size: fit-content;
}
