.slideshow-container {
  display: grid;
  grid-template-columns: 1fr var(--thumbnailColumnSize);
  grid-column: 2 / span 3;
  gap: 1rem;
  inline-size: 100%;
  max-inline-size: 1280px;
}

.slideshow-highlight {
  overflow: hidden;
  max-block-size: var(--maxBlockSize);
  transition: max-block-size 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slideshow-highlight img {
  grid-row: 1 / -1;
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.slideshow-thumbnails {
  display: grid;
  gap: 1rem;
  inline-size: 100%;
  grid-column: 2 / span 1;
  grid-template-columns: repeat(auto-fit, 48px);
  grid-template-rows: repeat(auto-fit, 48px);
  align-content: center;
  justify-content: center;
}

.slideshow-thumbnails img {
  object-fit: cover;
  block-size: 48px;
  inline-size: 48px;
}

.slideshow-thumbnails img {
  cursor: pointer;
}

@media screen and (width < 900px) {
  .slideshow-container {
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    padding: 0;
  }

  .slideshow-thumbnails {
    grid-column: 1 / -1;
  }
}
