<div class="duo-hero-images">
  <slot />
</div>

<style>
  div.duo-hero-images {
    grid-column: 1 / -1;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (width < 768px) {
    div.duo-hero-images {
      grid-template-columns: 1fr;
    }
  }
</style>
