---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="About Me" description="About Brian Han">
  <main>
    <Image
      width={1020}
      height={510}
      src={"/images/blog-placeholder-about.jpg"}
      alt={`picture of Brian Han`}
    />
    <h2>Hello!</h2>
    <p>I'm Brian. I'm a UX Developer based in Austin, TX.</p>
  </main>
</BaseLayout>
<style>
  main {
    max-width: 720px;
  }

  img {
    box-shadow: var(--box-shadow);
    max-width: 100%;
    margin-bottom: 1rem;
  }
</style>
