---
import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection("blog");

const uniqueTags = [
  ...new Set(
    allBlogPosts
      .filter((post) => post.data.isPublished)
      .map((post) => post.data.tags)
      .flat()
  ),
].filter((tag) => tag !== undefined);

interface Props {
  tags?: string[];
}

const { tags } = Astro.props;

const tagsArray = tags ?? uniqueTags;
---

<div class="tags">
  <h2 class="title">Tags</h2>
  <ul>
    {
      tagsArray.map((tag) => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .title {
    text-align: center;
  }
  .tags > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    padding: 0;
    max-inline-size: 100%;
  }
</style>
